<main class="g-gmail-main">

    <section class="section--experience" id="jump-content">
    
      <div class="h-c-page">
        <div class="h-c-grid">
          <div class="h-c-grid__col h-c-grid__col--12 h-c-grid__col--align-middle">
            <div class="copy-content">
              <h2 class="h-c-headline h-c-headline--two">Experience Gmail on any device</h2>
    
              <div class="content__text">
                <p class="h-c-copy">The ease &amp; simplicity of Gmail, wherever you are.</p>
              </div>
    
            </div>
    
            <ul class="badges__list">
              <li class="badges__item">
                <a href="https://play.google.com/store/apps/details?id=com.google.android.gm&amp;referrer=utm_source%3Dweb_about_badge" target="_blank" rel="noopener" ga-on="click" ga-event-category="ab experiment" ga-event-action="mobile app" ga-event-label="play store">
    
                  <img class="badges__badge badges__badge--play" src="https://lh3.googleusercontent.com/6kdr7g-ziKhTh0iWIXncqJh6Zd8Z-dkntyVV10lni6ZyBC8Q7uzQeY4Xv7EIAH6b0EQkUD6cUrHC8-GCLma-ZJrdNp16cciXoP_N" alt="Google Play" aria-label="Google Play">
    
                </a>
              </li>
              <li class="badges__item">
                <a href="https://itunes.apple.com/app/apple-store/id422689480?pt=9008&amp;ct=web_n_about-badge&amp;mt=8" target="_blank" rel="noopener" ga-on="click" ga-event-category="ab experiment" ga-event-action="mobile app" ga-event-label="app store">
    
                  <img class="badges__badge badges__badge--app" src="https://lh3.googleusercontent.com/OBvpNtOKZRZjGFYGsmUrME8yMIjkk1BNQX89gt_lMN2afWCZDvE4SdZhPGXI72vDo-wWqML-8NDy2vU2zY2c6oOktAXZbcwU9ByMBw" alt="App Store" aria-label="App Store">
    
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <picture>
        <source media="(max-width:799px)" srcset="https://lh3.googleusercontent.com/QmcmNCnb3Ln3oApBPEUfO3W0X_Ym41grEGspPDAB1ZDQ9qEQpukrZHSSwFOXmd0eJimtZFmnBITPKcBhT5Xn1p7SRWRFJNSjt7kZtMQ=w1000 1x, https://lh3.googleusercontent.com/QmcmNCnb3Ln3oApBPEUfO3W0X_Ym41grEGspPDAB1ZDQ9qEQpukrZHSSwFOXmd0eJimtZFmnBITPKcBhT5Xn1p7SRWRFJNSjt7kZtMQ=w2000 2x">
    
        <source media="(max-width: 1439px) and (min-width: 800px)" srcset="https://lh3.googleusercontent.com/QmcmNCnb3Ln3oApBPEUfO3W0X_Ym41grEGspPDAB1ZDQ9qEQpukrZHSSwFOXmd0eJimtZFmnBITPKcBhT5Xn1p7SRWRFJNSjt7kZtMQ=w1400 1x, https://lh3.googleusercontent.com/QmcmNCnb3Ln3oApBPEUfO3W0X_Ym41grEGspPDAB1ZDQ9qEQpukrZHSSwFOXmd0eJimtZFmnBITPKcBhT5Xn1p7SRWRFJNSjt7kZtMQ=w2800 2x">
    
      <img src="./Gmail - Email from Google_files/unnamed(4).png" class="experience__image experience__image--cropped" alt="Google Gmail">
      </picture>
    </section>
    <section class="section--organize">
    
      <div class="h-c-page">
        <div class="h-c-grid">
          <div class="h-c-grid__col h-c-grid__col--6 h-c-grid__col--align-middle content--organize ">
    
    
            <div class="copy-content">
              <div class="content__headline">
                <h2 class="h-c-headline h-c-headline--two">Stay organised instantly</h2>
              </div>
              <div class="content__text">
                <p class="h-c-copy">See what’s new at a glance and decide what you want to read and respond to.</p>
              </div>
            </div>
    
            <div class="section__image section__image--mobile">
              <picture>
        <source media="(max-width:379px)" srcset="https://lh3.googleusercontent.com/WfSgQJh4m7tFQKTcADv3OO77DyEgjwrFwfS8eFVU1LVUSIdwdNQUe-h8o527msn646zBx_8g2GpSWn5vofOewrMR0eInKlg_af80YQ=w335 1x, https://lh3.googleusercontent.com/WfSgQJh4m7tFQKTcADv3OO77DyEgjwrFwfS8eFVU1LVUSIdwdNQUe-h8o527msn646zBx_8g2GpSWn5vofOewrMR0eInKlg_af80YQ=w670 2x">
    
        <source media="(max-width: 800px) and (min-width: 380px)" srcset="https://lh3.googleusercontent.com/WfSgQJh4m7tFQKTcADv3OO77DyEgjwrFwfS8eFVU1LVUSIdwdNQUe-h8o527msn646zBx_8g2GpSWn5vofOewrMR0eInKlg_af80YQ=w390 1x, https://lh3.googleusercontent.com/WfSgQJh4m7tFQKTcADv3OO77DyEgjwrFwfS8eFVU1LVUSIdwdNQUe-h8o527msn646zBx_8g2GpSWn5vofOewrMR0eInKlg_af80YQ=w780 2x">
    
      <img src="./Gmail - Email from Google_files/unnamed(5).png" class="mobile-image" alt="Stay organised instantly">
      </picture>
            </div>
            <div class="section__image section__image--desktop">
              <picture>
        <source media="(max-width:799px)" srcset="https://lh3.googleusercontent.com/YzvIBrP6W8qYYtwszCXsyJoQpaVQxtLxxPfSyKh8Oe_AfBppPTlhvyEHEfpNnmVon9RbfiJ8Xfgb8BcUpSLBzpip1v9HMXUBxznCZQ=w370 1x, https://lh3.googleusercontent.com/YzvIBrP6W8qYYtwszCXsyJoQpaVQxtLxxPfSyKh8Oe_AfBppPTlhvyEHEfpNnmVon9RbfiJ8Xfgb8BcUpSLBzpip1v9HMXUBxznCZQ=w740 2x">
    
        <source media="(max-width: 1439px) and (min-width: 800px)" srcset="https://lh3.googleusercontent.com/YzvIBrP6W8qYYtwszCXsyJoQpaVQxtLxxPfSyKh8Oe_AfBppPTlhvyEHEfpNnmVon9RbfiJ8Xfgb8BcUpSLBzpip1v9HMXUBxznCZQ=w790 1x, https://lh3.googleusercontent.com/YzvIBrP6W8qYYtwszCXsyJoQpaVQxtLxxPfSyKh8Oe_AfBppPTlhvyEHEfpNnmVon9RbfiJ8Xfgb8BcUpSLBzpip1v9HMXUBxznCZQ=w1580 2x">
    
      <img src="./Gmail - Email from Google_files/unnamed(6).png" class="desktop-image" alt="Stay organised instantly">
      </picture>
            </div>
    
          </div>
          <div class="h-c-grid__col h-c-grid__col--6 h-c-grid__col--align-middle content--organize content--organize-last">
    
            <div class="organize__mobile-break"></div>
    
            <div class="copy-content">
              <div class="content__headline">
                <h2 class="h-c-headline h-c-headline--two">Never drop the ball</h2>
              </div>
              <div class="content__text">
                <p class="h-c-copy">Get nudges that remind you to follow up and respond to messages, so that nothing slips through the cracks.</p>
              </div>
            </div>
    
            <div class="section__image section__image--mobile">
              <picture>
        <source media="(max-width:379px)" srcset="https://lh3.googleusercontent.com/vz_mUUZ2ruxRpSFXJlya6lWfePwTYDM9wpqi7ZijavJnURpkQH8Qt-7j2uarim6Fo1uV6rorgOLMOElf_kWxgKOeScutc9Woq0zYQA=w335 1x, https://lh3.googleusercontent.com/vz_mUUZ2ruxRpSFXJlya6lWfePwTYDM9wpqi7ZijavJnURpkQH8Qt-7j2uarim6Fo1uV6rorgOLMOElf_kWxgKOeScutc9Woq0zYQA=w670 2x">
    
        <source media="(max-width: 800px) and (min-width: 380px)" srcset="https://lh3.googleusercontent.com/vz_mUUZ2ruxRpSFXJlya6lWfePwTYDM9wpqi7ZijavJnURpkQH8Qt-7j2uarim6Fo1uV6rorgOLMOElf_kWxgKOeScutc9Woq0zYQA=w390 1x, https://lh3.googleusercontent.com/vz_mUUZ2ruxRpSFXJlya6lWfePwTYDM9wpqi7ZijavJnURpkQH8Qt-7j2uarim6Fo1uV6rorgOLMOElf_kWxgKOeScutc9Woq0zYQA=w780 2x">
    
      <img src="./Gmail - Email from Google_files/unnamed(7).png" class="mobile-image" alt="Never drop the ball">
      </picture>
            </div>
            <div class="section__image section__image--desktop">
              <picture>
        <source media="(max-width:799px)" srcset="https://lh3.googleusercontent.com/SoN_g_n5BTtSxq6qpD2aE5JDNL_UcAOLNGFPI-8eOaGJdEQgKv5fER7fvxj3vy-zpvyxXeIUs8ypecDrBqt94AdJzFT0HeFA5Mkfl1Y=w370 1x, https://lh3.googleusercontent.com/SoN_g_n5BTtSxq6qpD2aE5JDNL_UcAOLNGFPI-8eOaGJdEQgKv5fER7fvxj3vy-zpvyxXeIUs8ypecDrBqt94AdJzFT0HeFA5Mkfl1Y=w740 2x">
    
        <source media="(max-width: 1439px) and (min-width: 800px)" srcset="https://lh3.googleusercontent.com/SoN_g_n5BTtSxq6qpD2aE5JDNL_UcAOLNGFPI-8eOaGJdEQgKv5fER7fvxj3vy-zpvyxXeIUs8ypecDrBqt94AdJzFT0HeFA5Mkfl1Y=w790 1x, https://lh3.googleusercontent.com/SoN_g_n5BTtSxq6qpD2aE5JDNL_UcAOLNGFPI-8eOaGJdEQgKv5fER7fvxj3vy-zpvyxXeIUs8ypecDrBqt94AdJzFT0HeFA5Mkfl1Y=w1580 2x">
    
      <img src="./Gmail - Email from Google_files/unnamed(8).png" class="desktop-image" alt="Never drop the ball">
      </picture>
            </div>
    
          </div>
        </div>
      </div>
    
    </section>
    <section class="section--action">
    
      <div class="h-c-page">
        <div class="h-c-grid">
          <div class="h-c-grid__col h-c-grid__col--6 h-c-grid__col--align-middle">
            <div class="copy-content">
              <div class="content__headline">
                <h2 class="h-c-headline h-c-headline--two">Take action right from the inbox</h2>
              </div>
    
              <p class="h-c-copy">View attachments, RSVP to events, snooze messages and more without opening any emails.</p>
            </div>
          </div>
    
          <div class="h-c-grid__col h-c-grid__col--6 h-c-grid__col--align-middle col--display">
            <div class="section__image section__image--mobile">
            <picture>
        <source media="(max-width:379px)" srcset="https://lh3.googleusercontent.com/zMlauPmT0gXdSgzniyIjK_qUO8oOv_9qiOup55ZDxLPr4cLlMkAf9rznIiLIsh7B6UX2ROzn_0qu93qpsm8NkF53iTUv5ntlJaY81t0=w335 1x, https://lh3.googleusercontent.com/zMlauPmT0gXdSgzniyIjK_qUO8oOv_9qiOup55ZDxLPr4cLlMkAf9rznIiLIsh7B6UX2ROzn_0qu93qpsm8NkF53iTUv5ntlJaY81t0=w670 2x">
    
        <source media="(max-width: 800px) and (min-width: 380px)" srcset="https://lh3.googleusercontent.com/zMlauPmT0gXdSgzniyIjK_qUO8oOv_9qiOup55ZDxLPr4cLlMkAf9rznIiLIsh7B6UX2ROzn_0qu93qpsm8NkF53iTUv5ntlJaY81t0=w390 1x, https://lh3.googleusercontent.com/zMlauPmT0gXdSgzniyIjK_qUO8oOv_9qiOup55ZDxLPr4cLlMkAf9rznIiLIsh7B6UX2ROzn_0qu93qpsm8NkF53iTUv5ntlJaY81t0=w780 2x">
    
      <img src="./Gmail - Email from Google_files/unnamed(9).png" class="mobile-image" alt="Take action right from the inbox">
      </picture>
            </div>
    
            <div class="section__image section__image--desktop">
            <picture>
        <source media="(max-width:799px)" srcset="https://lh3.googleusercontent.com/zkX7gTBW3Ql69D0asDqnTMlqA_IpFwWr0PVJoH7qQN1be9L9njlQOy1-cSNDphn5z1_WS4-LaY0KlMaWHWwKOWty0_flmasay7mh=w370 1x, https://lh3.googleusercontent.com/zkX7gTBW3Ql69D0asDqnTMlqA_IpFwWr0PVJoH7qQN1be9L9njlQOy1-cSNDphn5z1_WS4-LaY0KlMaWHWwKOWty0_flmasay7mh=w740 2x">
    
        <source media="(max-width: 1439px) and (min-width: 800px)" srcset="https://lh3.googleusercontent.com/zkX7gTBW3Ql69D0asDqnTMlqA_IpFwWr0PVJoH7qQN1be9L9njlQOy1-cSNDphn5z1_WS4-LaY0KlMaWHWwKOWty0_flmasay7mh=w790 1x, https://lh3.googleusercontent.com/zkX7gTBW3Ql69D0asDqnTMlqA_IpFwWr0PVJoH7qQN1be9L9njlQOy1-cSNDphn5z1_WS4-LaY0KlMaWHWwKOWty0_flmasay7mh=w1580 2x">
    
      <img src="./Gmail - Email from Google_files/unnamed(10).png" class="desktop-image" alt="Take action right from the inbox">
      </picture>
            </div>
    
          </div>
        </div>
      </div>
    
    </section>
    <section class="section--secure">
    
      <div class="h-c-page">
        <div class="h-c-grid">
          <div class="h-c-grid__col h-c-grid__col--6 h-c-grid__col--align-middle col--display">
    
            <div class="section__image section__image--mobile">
              <picture>
        <source media="(max-width:379px)" srcset="https://lh3.googleusercontent.com/XfhOayUyDlpp1zBntZJeb82ApfCl7BOPf55AcxrR7GAaQp1POuLMQFnN014oKgnpcxkNXxQvXlLfZbU1rWGZ82h3bmBfDdUmMyHgJw=w335 1x, https://lh3.googleusercontent.com/XfhOayUyDlpp1zBntZJeb82ApfCl7BOPf55AcxrR7GAaQp1POuLMQFnN014oKgnpcxkNXxQvXlLfZbU1rWGZ82h3bmBfDdUmMyHgJw=w670 2x">
    
        <source media="(max-width: 800px) and (min-width: 380px)" srcset="https://lh3.googleusercontent.com/XfhOayUyDlpp1zBntZJeb82ApfCl7BOPf55AcxrR7GAaQp1POuLMQFnN014oKgnpcxkNXxQvXlLfZbU1rWGZ82h3bmBfDdUmMyHgJw=w390 1x, https://lh3.googleusercontent.com/XfhOayUyDlpp1zBntZJeb82ApfCl7BOPf55AcxrR7GAaQp1POuLMQFnN014oKgnpcxkNXxQvXlLfZbU1rWGZ82h3bmBfDdUmMyHgJw=w780 2x">
    
      <img src="./Gmail - Email from Google_files/unnamed(11).png" class="mobile-image" alt="Avoid suspicious emails">
      </picture>
            </div>
    
            <div class="section__image section__image--desktop">
            <picture>
        <source media="(max-width:799px)" srcset="https://lh3.googleusercontent.com/7Yu9LBQSEaFZ7Bhq_JHsegDxd1XhiY7Em4uXI5YwoSUpO_RVVklfXTG1uig2FHqrmO6eg9cjQ7NyawAvR5dxi9T1a_kSyrpUw5pB=w370 1x, https://lh3.googleusercontent.com/7Yu9LBQSEaFZ7Bhq_JHsegDxd1XhiY7Em4uXI5YwoSUpO_RVVklfXTG1uig2FHqrmO6eg9cjQ7NyawAvR5dxi9T1a_kSyrpUw5pB=w740 2x">
    
        <source media="(max-width: 1439px) and (min-width: 800px)" srcset="https://lh3.googleusercontent.com/7Yu9LBQSEaFZ7Bhq_JHsegDxd1XhiY7Em4uXI5YwoSUpO_RVVklfXTG1uig2FHqrmO6eg9cjQ7NyawAvR5dxi9T1a_kSyrpUw5pB=w790 1x, https://lh3.googleusercontent.com/7Yu9LBQSEaFZ7Bhq_JHsegDxd1XhiY7Em4uXI5YwoSUpO_RVVklfXTG1uig2FHqrmO6eg9cjQ7NyawAvR5dxi9T1a_kSyrpUw5pB=w1580 2x">
    
      <img src="./Gmail - Email from Google_files/unnamed(12).png" class="desktop-image" alt="Avoid suspicious emails">
      </picture>
            </div>
    
          </div>
    
          <div class="h-c-grid__col h-c-grid__col--6 h-c-grid__col--align-middle">
            <div class="copy-content">
              <div class="content__headline">
                <h2 class="h-c-headline h-c-headline--two">Avoid suspicious emails</h2>
              </div>
    
              <p class="h-c-copy">Gmail blocks 99.9% of dangerous emails before they reach you. If we think something seems phish-y, you’ll get a warning.</p>
            </div>
          </div>
        </div>
      </div>
    
    </section>
    
    <section class="section--started">
    
      <div class="h-c-page">
        <div class="h-c-grid">
          <div class="h-c-grid__col h-c-grid__col--12 h-c-grid__col--align-middle">
            <div class="copy-content">
              <img src="https://www.google.com/gmail/about/static/images/logo-gmail.png?cache=3218fbf" alt="Google Gmail">
              <h2 class="h-c-headline h-c-headline--two">Get started with Gmail</h2>
              <a class="h-c-button h-c-button--primary started__cta--desktop" href="https://accounts.google.com/SignUp?service=mail&amp;amp;continue=https://mail.google.com/mail/" title="Create an account" target="_blank" ga-on="click" ga-event-category="ab experiment" ga-event-action="create account" ga-event-label="module">
                Create an account
              </a>
              <a class="h-c-button h-c-button--primary started__cta--mobile" title="Create an account" target="_blank" data-ng-click="ctrl.handleGetAppClick(false)" ga-on="click" ga-event-category="ab experiment" ga-event-action="create account" ga-event-label="module">
                Get Gmail
              </a>
            </div>
          </div>
        </div>
      </div>
    
    </section>
      </main>
    