<div class="hercules-header h-c-header h-c-header--product-marketing-one-tier header--desktop">
    <div class="h-c-header__bar">
  
      <div class="h-c-header__hamburger h-c-header__hamburger--first-tier">
        <div class="h-c-header__hamburger-wrapper">
          <button type="button" class="h-js-header__hamburger-link h-c-header__hamburger-link" aria-controls="h-js-header__drawer" aria-expanded="false" aria-label="Open the navigation drawer">
            <svg role="img" class="h-c-header__hamburger-img
                h-c-header__hamburger-img--standard">
              <use xlink:href="#h-burger"></use>
            </svg>
  
            <svg role="img" class="h-c-header__hamburger-img
                h-c-header__hamburger-img--reversed">
              <use xlink:href="#h-burger"></use>
            </svg>
          </button>
        </div>
      </div>
  
      <div class="h-c-header__lockup">
        <div class="h-c-header__company-logo">
          <div class="h-c-header__company-logo-link" title="Google">
  
            <img src="https://www.google.com/gmail/about/static/images/logo-gmail.png?cache=3218fbf" class="header-logo-gmail">
          </div>
        </div>
  
        <div class="h-c-header__product-logo">
          <div class="h-c-header__product-logo-link">
            <span class="h-c-header__product-logo-text">Gmail</span>
          </div>
        </div>
  
        <a href="https://www.google.com/intl/en_in/gmail/about/#jump-content" class="h-c-header__jump-to-content" data-glue-jump-link="">
          <span class="h-c-header__jump-to-content-text">Skip to Content</span>
        </a>
      </div>
  
      <div class="h-c-header__hamburger h-c-header__hamburger--second-tier">
        <div class="h-c-header__hamburger-wrapper">
          <button type="button" class="h-c-header__hamburger-link" aria-controls="h-js-header__drawer" aria-expanded="false" aria-label="Open the navigation drawer">
            <svg role="img" class="h-c-header__hamburger-img
                h-c-header__hamburger-img--standard">
              <use xlink:href="#h-burger"></use>
            </svg>
  
            <svg role="img" class="h-c-header__hamburger-img
                h-c-header__hamburger-img--reversed">
              <use xlink:href="#h-burger"></use>
            </svg>
          </button>
        </div>
      </div>
  
      <div class="h-c-header__cta">
  
        <ul class="h-c-header__cta-list header__nav--ltr">
          <li class="h-c-header__nav-li g-mail-nav-links" aria-level="1">
            <a href="https://gsuite.google.com/products/gmail/" class="h-c-header__nav-li-link " target="_blank" ga-on="click" ga-event-category="ab experiment" ga-event-action="for work" ga-event-label="nav">
              For Work
            </a>
          </li>
          <li class="h-c-header__nav-li g-mail-nav-links" aria-level="1">
            <a href="https://accounts.google.com/AccountChooser?service=mail&amp;continue=https://mail.google.com/mail/" class="h-c-header__nav-li-link " target="_blank" ga-on="click" ga-event-category="ab experiment" ga-event-action="sign in" ga-event-label="nav">
              Sign in
            </a>
          </li>
          <li class="h-c-header__cta-li h-c-header__cta-li--primary">
            <a href="https://accounts.google.com/SignUp?service=mail&amp;continue=https://mail.google.com/mail/?pc=topnav-about-n-en" class="h-c-button h-c-header__cta-li-link h-c-header__cta-li-link--primary" target="_blank" ga-on="click" ga-event-category="ab experiment" ga-event-action="create account" ga-event-label="nav">
                Create an account
            </a>
          </li>
        </ul>
        <ul class="h-c-header__cta-list header__nav--rtl">
          <li class="h-c-header__cta-li h-c-header__cta-li--primary">
            <a href="https://accounts.google.com/SignUp?service=mail&amp;continue=https://mail.google.com/mail/?pc=topnav-about-n-en" class="h-c-header__cta-li-link h-c-header__cta-li-link--primary" target="_blank" ga-on="click" ga-event-category="ab experiment" ga-event-action="create account" ga-event-label="nav">
                Create an account
            </a>
          </li>
          <li class="h-c-header__nav-li g-mail-nav-links" aria-level="1">
            <a href="https://gsuite.google.com/products/gmail/" class="h-c-button h-c-header__nav-li-link " target="_blank" ga-on="click" ga-event-category="ab experiment" ga-event-action="for work" ga-event-label="nav">
              For Work
            </a>
          </li>
          <li class="h-c-header__nav-li g-mail-nav-links" aria-level="1">
            <a href="https://accounts.google.com/AccountChooser?service=mail&amp;continue=https://mail.google.com/mail/" class="h-c-button h-c-header__nav-li-link " target="_blank" ga-on="click" ga-event-category="ab experiment" ga-event-action="sign in" ga-event-label="nav">
              Sign in
            </a>
          </li>
        </ul>
      </div>
  
      <div class="h-c-header__bar-underside"></div>
    </div>
  
    <div id="h-js-header__drawer" class="h-c-header__drawer" aria-label="Navigation drawer" tabindex="0">
      <div class="h-c-header__drawer-content">
        <div class="h-c-header__drawer-bar">
          <div class="h-c-header__drawer-lockup">
            <div class="h-c-header__drawer-company-logo">
              <div class="h-c-header__drawer-company-logo-link" title="Google">
                <img src="https://www.google.com/gmail/about/static/images/logo-gmail.png?cache=3218fbf" class="header-logo-gmail">
              </div>
            </div>
  
            <div class="h-c-header__drawer-product-logo">
              <div class="h-c-header__drawer-product-logo-link">
                <span class="h-c-header__drawer-product-logo-text">Gmail</span>
              </div>
            </div>
          </div>
  
          <div class="h-c-header__drawer-initiative-logo">
            <div class="h-c-header__drawer-initiative-logo-link">
              <span class="h-c-header__drawer-initiative-logo-text">Initiative</span>
            </div>
          </div>
        </div>
  
        <nav class="h-c-header__drawer-nav">
          <ul class="h-c-header__drawer-nav-list">
            <li class="h-c-header__drawer-nav-li" aria-level="1">
              <a href="https://gsuite.google.com/products/gmail/" class="h-c-header__drawer-nav-li-link">
                For Work
              </a>
            </li>
            <li class="h-c-header__drawer-nav-li" aria-level="1">
              <a href="https://accounts.google.com/AccountChooser?service=mail&amp;continue=https://mail.google.com/mail/" class="h-c-header__drawer-nav-li-link">
                Sign in
              </a>
            </li>
          </ul>
        </nav>
      </div>
  
      <div class="h-c-header__drawer-cta">
        <ul class="h-c-header__drawer-cta-list">
          <li class="h-c-header__drawer-cta-li h-c-header__drawer-cta-li--primary">
            <a href="https://accounts.google.com/SignUp?service=mail&amp;continue=https://mail.google.com/mail/?pc=topnav-about-n-en" class="h-c-header__drawer-cta-li-link
                h-c-header__drawer-cta-li-link--primary">
                Create an account
            </a>
          </li>
        </ul>
      </div>
    </div>
  
    <div id="h-js-header__drawer-backdrop" class="h-c-header__drawer-backdrop"></div>
  </div>