<div class="g-gmail-hero g-gmail-hero--standard">
    <div class="hero--no-carousel">
      <div class="h-c-page">
        <div class="h-c-grid">
  
          <div class="h-c-grid__col h-c-grid__col--6 h-c-grid__col--align-middle carousel-col">
            <div class="item__content">
  
              <div class="content__title">
                <h1 class="h-c-headline h-c-headline--one hero-carousel__headline">Get more done with Gmail</h1>
              </div>
  
              <div class="content__copy">
                <p class="h-c-copy hero-carousel__copy">Now more secure, smarter and easier to use—helping you save time and do more with your inbox.</p>
              </div>
  
              <div class="content__cta content__cta--desktop">
                <a class="h-c-button h-c-button--primary hero-carousel__cta hero-carousel__cta--reg" href="https://accounts.google.com/SignUp?service=mail&amp;continue=https://mail.google.com/mail/" title="Create an account" target="_blank" ga-on="click" ga-event-category="ab experiment" ga-event-action="click" ga-event-label="hero | create an account | Smart Compose">
                  Create an account
                </a>
                <a class="h-c-button h-c-button--primary hero-carousel__cta hero-carousel__cta--alt" title="Create an account" target="_blank" data-ng-click="ctrl.handleGetAppClick(false)" ga-on="click" ga-event-category="ab experiment" ga-event-action="create account" ga-event-label="hero">
                  Get Gmail
                </a>
              </div>
  
            </div>
          </div>
  
          <div class="h-c-grid__col h-c-grid__col--6 carousel-col">
  
            <div class="content__poster">
              <img src="https://lh3.googleusercontent.com/3MiqsO955dj740GzubtdNCpo4dGjyRGvsIcKLQYQQcoh-zwOZQNRRi3vXiHDQfVVbH4xpAyFzQZupoWalvlq3x2AVT_0vbFZDop4mA=w0" class="content__poster-image">
            </div>
  
            <div class="content__image">
              <img src="https://lh3.googleusercontent.com/3MiqsO955dj740GzubtdNCpo4dGjyRGvsIcKLQYQQcoh-zwOZQNRRi3vXiHDQfVVbH4xpAyFzQZupoWalvlq3x2AVT_0vbFZDop4mA=w0.png" class="slide-image">
              <img src="./Gmail - Email from Google_files/shadow.png" class="slide-image-shadow">
            </div>
          </div>
  
        </div>
      </div>
    </div>
  </div>